.button{
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border: none;
    outline: none;
    border-radius: 0.75rem;
    transition: all ease-in-out 0.3s;
    cursor: pointer;

    &.button-primary{
        background-color: #f0146f;
        color: rgb(250, 246, 246);
        font-weight: 600;
    }
    
    &:active{
        transform: scale(0.90);
    }
}