.button{
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    cursor: pointer;
    font-weight: 600;


    &.button-primary{
        background-color: #0090EE;
        color: white;
    }

    &.button-secondary{
        background-color: #f0146f;
        color: rgb(250, 246, 246);
        
    }
    
    &:active{
        transform: scale(0.90);
    }
}