footer {
  width: 100%;
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-top: 2px solid #3d4f5c39;

  ul {
    display: flex;
    gap: 3rem;

    li {
      list-style: none;
      cursor: pointer;
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
        color: #f01039;
      }
    }
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
}
