.image-file-label{
    padding-inline: 1rem;
      padding-block: 0.75rem;
      border-radius: 0.75rem;
      background-color: white;
      color: rgb(28, 28, 28);
      font-size: 0.85rem;
      cursor: pointer;
}