.feed-container {
  width: 100%;
  background-color: #f1eeee53;

  padding-inline: 6rem;

  .top-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    h1 {
      font-size: 1.2rem;
    }

    .filter-container{
      display: flex;
      align-items: center;
      gap: 1.5rem;

      button{
        border: none;
        outline: none;
        padding-inline: 1rem;
        padding-block: 0.45rem;
        border-radius: 2rem;
        font-weight: 600;
        border: 1.5px solid transparent;
      }

      .latest-btn{
        border: 1.5px solid #b5b2b253;
      }
      .popular-btn{
        background-color: white;
      }


    }
  }
}
