.setting {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4efa0;
  min-height: 100vh;

  .setting-container {
    width: 40%;
  }

  .nav {
    display: flex;
    align-items: center;
    width: 40%;
    padding-block: 1rem;

    h2 {
      font-size: 1.2rem;
    }
    i {
        cursor: pointer;
      font-size: 1.8rem;
    }
  }

  h1 {
    padding-block: 1.5rem;
    font-size: 2.5rem;
    font-weight: 500;
  }

  .personal-info {
    p {
      font-size: 0.9rem;
    }
  }

  .imgdiv {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-inline: 1.5rem;
    padding-block: 1.5rem;

    img {
      width: 4.8rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: aqua;
    }

    label {
      background-color: #f1ce31;
    }
    button {
      background-color: rgba(241, 241, 241, 0.888);
      border: none;
      outline: none;

      i{
        font-size: 1.2rem;
        color: rgb(225, 18, 66);
      }
    }

    input {
      display: none;
    }
  }

  .input-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: rgba(241, 241, 241, 0.888);
    padding:1.5rem;
    border-radius: 0.5rem;
    border: 1.5px solid rgb(216, 214, 214);
    margin-bottom: 3rem;

    input,textarea{
        padding-inline: 1rem;
        padding-block: 0.5rem;
        border: none;
        border-radius: 0.25rem;
        outline: none;
        border: 1px solid transparent;
        margin-bottom: 0.5rem;

        &:focus,&:hover{
            border-color: rgb(0, 162, 255);
        }

    }
    textarea{
        resize: none;
    }

  }
}
