.all-followes-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    .nav{
        width: 40%;
        display: flex;
        align-items: center;
        padding-block: 1rem;

        i{
            font-size: 1.2rem;
            padding: 0.25rem;
            font-weight: 200;
            border-radius: 50%;
            border: 1.5px solid black;
        }

        h2{
            font-weight: 500;
            margin: auto;
        }

    }

    .follows-content{
        width: 35%;
        display: flex;
        flex-direction: column;
        padding-block: 1rem;
        gap: 1rem;

        .follows{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .user-detail{
                display: flex;
                align-items: center;
                gap: 1rem;

                img{
                    width: 3.5rem;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }

    }

}