.notification {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-block: 0.95rem;
  border-bottom: 2px solid #e8e4e459;

  .circle {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid #e8e4e459;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    i{
        font-size: 1rem;
        color: rgb(111, 110, 110);
    }

    .dot{
        width: 6px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        position: absolute;
        right: -2px;
        top: 6px;
    }

    .red-dot{
        background-color: rgb(243, 18, 18);
    }
    .green-dot{
        background-color: rgb(43, 203, 7);
    }
  }
}
