.profile-activity {
  padding-inline: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .card {
    background-color: brown;
    border-radius: 0.5rem;
    padding-inline: 0.75rem;
    padding-block: 1rem;

    h1 {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    span {
      font-size: 1.2rem;
      font-weight: 500;
    }

    p {
      font-size: 0.9rem;
      font-weight: 600;
    }
  }
}
