.profile-activity {
  padding-inline: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .card {
    background-color: #f1eeee53;
    border-radius: 0.5rem;
    padding-inline: 0.75rem;
    padding-block: 1rem;

    h1 {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 600;
    }

    span {
      font-size: 1.2rem;
      font-weight: 500;
    }

    p {
      font-size: 0.9rem;
      font-weight: 600;
    }
    .images {
      position: relative;
      margin-bottom: 3rem;
      

      img {
        width: 2.2rem;
        aspect-ratio: 1/1;
        position: absolute;
        top: 0;

        border-radius: 50%;
        object-fit: cover;

        &:nth-child(1) {
          left: 0;
        }
        &:nth-child(2) {
          left: 25px;
        }
        &:nth-child(3) {
          left: 50px;
        }
        &:nth-child(4) {
          left: 75px;
        }
        &:nth-child(5) {
          left: 100px;
        }
        &:nth-child(6) {
          left: 125px;
        }
      }
    }
  }
}
