.user-detail-page {
  width: 100%;

  .user-top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 12%;
    padding-block: 1rem;
    border-bottom: 2px solid #e8e4e459;

    .logo {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      div {
        width: 2px;
        height: 25px;
        background-color: gray;
      }

      img {
        width: 1.8rem;
        aspect-ratio: 1/1;
        filter: invert(50%);
      }

      h1 {
        font-size: 1.4rem;
        font-family: insta-font;
        font-weight: 500;
      }
    }
    input {
      outline: none;
      padding-inline: 0.75rem;
      padding-block: 0.35rem;
      border: 2px solid rgb(210, 208, 208);
      border-radius: 0.5rem;
      text-align: center;
    }

    .iconsss {
      display: flex;
      gap: 1.5rem;
    }

    i {
      font-size: 1.5rem;
    }
  }

  .user-profile-detail {
    display: flex;
    align-items: center;
    gap: 6rem;
    padding-inline: 18%;
    padding-block: 3rem;

    .user-img-wrapper {
      width: 8rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: conic-gradient(from 0deg, #8906c5, #f7309a, #f49d5a, #8906c5);
      position: relative;

      div {
        width: 95%;
        border-radius: 50%;
        aspect-ratio: 1/1;
        background-color: white;
        position: absolute;
      }

      img {
        transform: scale(0.89);
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
        // display: none;
      }
    }

    .profile-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .username {
        display: flex;
        align-items: center;
        gap: 1rem;

        h2 {
          font-weight: 400;
        }

        button {
          padding-inline: 1.5rem;
          height: fit-content;
          padding-block: 0.5rem;
          border: none;
          outline: none;
          border-radius: 0.25rem;
          color: white;
          font-weight: 600;
          background-color: #0090ee;
        }
      }

      .user-stats {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        p {
          font-weight: 600;
        }
      }

      .bio {
        font-weight: 600;
        color: rgb(91, 89, 89);
      }
    }
  }

  .user-posts {
    padding-inline: 12%;
    padding-block: 2rem;
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;

    .post {
      width: 30%;
      height: 450px;
      transition: 0.3s ease;
      position: relative;

      .post-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all ease 0.2s;
        background-color: rgba(0, 0, 0, 0);
      }

      &:hover p {
        visibility: visible !important;
      }

      &:hover .post-wrapper {
        background-color: rgba(0, 0, 0, 0.288);
      }

      &:hover {
        box-shadow:
          0 2px 8px rgba(0, 0, 0, 0.2),
          0 8px 24px rgba(0, 0, 0, 0.2);
        transform: translateY(-6px);
      }

      .post-like-comment-count {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        position: relative;

        div {
          top: 12rem;
          overflow: hidden;
          position: absolute;
          display: flex;
          gap: 2rem;
        }
        p {
          transition: all ease 0.2s;
          display: flex;
          align-items: center;
          gap: 0.25rem;
          color: white;
          visibility: hidden;

        }

        i {
          font-size: 1.4rem;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
