@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-container {
    min-width: 350px;
    @include flex-column($gap: 1rem);
  }

  form {
    @include flex-column($gap: 1rem);

    input {
      border: none;
      outline: none;
      padding-inline: 1rem;
      padding-block: 0.75rem;
      border-radius: 0.75rem;
    }
  }
}
